body {
  margin: 0;
}

.main-body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  min-height: 100vh;
}

.main-login-info {
  background-image: url("../public/login-photo-senior.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.custom-table td.ant-table-cell {
  padding: 0 !important;
  padding-left: 1px;
  font-size: 0.8em;
}

.myTable th.ant-table-cell {
  text-align: center !important;
  background-color: rgba(255, 200, 0, 0.8) !important;
}

thead {
  display: table-row-group;
}

@page {
  size: legal;
  margin: 0.5in;
}
